<!doctype html>
<html lang="en">
<head>
  {{> head }}
  <script>
    console.log(window.location.href);
  	if (window.location.search.match(/print-pdf/gi)) {
  	  console.log('matched');
  	  document.getElementsByTagName('head')[0].appendChild('<link rel="stylesheet" href="assets/css/pdf.css">');
  	}
  </script>
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {{{ page.content }}}
    </div>
  </div>
</body>
  <script src="{{page.url.framework}}/lib/js/head.min.js"></script>
  <script src="{{page.url.framework}}/js/reveal.min.js"></script>
  {{> initialize }}
  {{> javascripts }}
  {{{ page.assets.js }}}
</html>
