<section class='slide {{slide.class}}' data-state='slide-horizontal' id='{{slide.id}}'>
  {{{ slide.header }}}
  <hr />
  {{{ slide.content }}}
  {{# slide.blocks }}
    <div class='fragment'>
      {{{ html }}}
    </div>
  {{/ slide.blocks }}
  {{# slide.pnotes }}
  <aside class='notes'>
    {{{ html }}}
  </aside>
  {{/ slide.pnotes }}
  <div class="modal">
    <span class="close">&times;</span>
    <h3 style='display:none;'></h3>
    <img />
    <p style='display:none;'></p>
  </div>
  <a class='logo' href='https://emraresearch.org' target='_blank'>emraresearch.org</a>
</section>
