/* Title Slide */

.reveal .title {
  text-align: center;
}

.reveal .title h1:before,
.reveal .title h1:after {
  background-color: gray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.reveal .title h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.reveal .title h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.reveal .title h1 {
  font-size: 50px;
  margin: 225px 0;
}

.reveal .title h2 {
  text-transform: inherit;
}

.reveal .title p {
  color: gray;
}

/* All Slides */

.reveal .slides {
  text-align: left;
}

.reveal iframe {
  height: 500px;
}

.graphs-set {
  height: 500px;
}

.graphs-row {
  display: flex;
  justify-content: center;
  height: 50%;
}

.graphs-row img {
  height: 90%;
  display: block;
  margin: 10px 70px;
}

.reveal .btn {
  top: 10px;
  border: #3b759e 1.5px dashed;
  border-radius: 10px;
  font-size: 18px;
  padding: 6px;
  transition: border 2s linear;
}

.reveal a:not(.image).btn:hover {
  border: #74a7cb 1.5px solid;
}

.reveal a {
  cursor: pointer;
}

.reveal p {
  font-size: 25px;
  margin: 25px 0;
}

.reveal li {
  font-size: 25px;
  margin: 10px 25px;
}

.reveal ul li {
  list-style-type: circle;
}

.reveal .slide h2,
.reveal .vertical h2 {
  font-size: 30px;
  text-transform: inherit;
  opacity: 0.8;
}

.reveal .slide h1 {
  margin: 10px 0 40px;
}

.reveal .slide h2 {
  margin: -30px 0 40px;
}

.reveal .vertical h1 {
  margin: 10px 0 20px;
}

.reveal .vertical h2 {
  margin: -10px 0 20px;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
  display: block;
  margin: 20px auto;
}

/* Arrow Controls */

.slide-horizontal .reveal .controls .navigate-down,
.slide-vertical .reveal .controls .navigate-left,
.slide-vertical .reveal .controls .navigate-right {
  display: none;
}
