/* Title Slide */

.reveal .title {
  text-align: center;
}

.reveal .title h1:before,
.reveal .title h1:after {
  background-color: gray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.reveal .title h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.reveal .title h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.reveal .title h1 {
  font-size: 50px;
  margin: 225px 0;
}

.reveal .title h2 {
  text-transform: inherit;
}

.reveal .title p {
  color: gray;
}

/* All Slides */

.reveal .slides {
  text-align: left;
}

.reveal .btn {
  top: 10px;
  border: #3b759e 1.5px dashed;
  border-radius: 10px;
  font-size: 18px;
  padding: 6px;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
  display: block;
  margin: 20px auto;
}

.reveal a:not(.image).btn:hover {
  border: #74a7cb 1.5px solid;
}

.reveal a {
  cursor: pointer;
}

.reveal p {
  font-size: 25px;
  margin: 25px 0;
}

#univ_options {
  columns: 2;
}

.reveal li {
  font-size: 22px;
  margin: 0 25px 10px;
}

.reveal ul li {
  list-style-type: circle;
}

.reveal .slide h2,
.reveal .vertical h2 {
  font-size: 30px;
  text-transform: inherit;
  opacity: 0.8;
}

.reveal .slide h1 {
  margin: 10px 0 40px;
}

.reveal .slide h2 {
  margin: -30px 0 40px;
}

.reveal .vertical h1 {
  margin: 10px 0 20px;
  display: inline-block;
}

.reveal .vertical h2 {
  margin: -10px 0 20px;
}

.reveal span.univ-name {
  float: right;
  font-size: 14px;
  margin: 20px 0;
  color: gray;
}

.reveal iframe,
.graphs-set {
  height: 500px;
}

.graphs-row {
  display: flex;
  justify-content: center;
  height: 50%;
}

.reveal .graphs-set img {
  border: silver 1px solid;
  height: 90%;
}

.reveal .graphs-set-wide img {
  height: 75%;
}

.reveal .vertical .graphs-set img:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.05);
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.reveal div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 20px;
  left: 50%;
  top: 48%;
  width: 70%;
  background-color: white;
  border: solid 1px gray;
  transform: translate(-50%, -50%);
  transition: all .2s;
}

.modal h3 {
  text-align: center;
  text-transform: inherit;
  font-size: 26px;
  margin: 0 30px 35px 20px;
}

.modal p {
  margin: 0;
  color: gray;
  font-size: 14px;
  text-align: center;
}

.modal img {
  width: 600px;
}

.modal .close {
  float: right;
  margin-top: -5px;
  opacity: 0.6;
}

.modal .close:hover {
  cursor: pointer;
  opacity: 1;
}

.table-wrapper {
  height: 500px;
}

.reveal table {
  font-size: 20px;
  width: 100%;
  text-align: right;
}

.reveal td {
    padding: 4px 0;
}

.reveal table tr:nth-of-type(1) td {
  text-decoration: underline;
  padding: 20px 0;
}

.reveal table tr td:nth-of-type(1) {
  text-align: left;
}

#table-metro-count tr:not(:first-of-type) td:nth-of-type(1) ~ td {
  color: gray;
}

#table-metro-count tr:not(:first-of-type) td:nth-of-type(2) {
  font-weight: 600;
}

#table-metro-count tr:nth-of-type(1) td:nth-of-type(3) {
  text-decoration-color: #42a9c6;
}

#table-metro-count tr:nth-of-type(1) td:nth-of-type(4) {
  text-decoration-color: #d16822;
}

#table-metro-count tr:nth-of-type(1) td:nth-of-type(5) {
  text-decoration-color: #30af37;
}

#table-metro-count tr:nth-of-type(1) td:nth-of-type(6) {
  text-decoration-color: #8030d1;
}

/* Arrow Controls */

.slide-horizontal .reveal .controls .navigate-down,
.slide-vertical .reveal .controls .navigate-left,
.slide-vertical .reveal .controls .navigate-right {
  display: none;
}
